:root {
  --ff-primary: 'Comfortaa', cursive;
  --ff-secundary: 'Open Sans', sans-serif;
  --black: #150605;
  --purple: #863ef7;
  --white: #ffffff;
  --red: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Comfortaa', sans-serif;
}

img {
  max-width: 100%;
}

.linkStyle {
  text-decoration: none;
  background-color: transparent;
}

.navBar {
  background-color: var(--purple);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clickToChat {
  text-decoration: none;
  color: var(--white);
  margin-right: 15px;
}

.homeNavbar {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 20px;
  padding-left: 20px;
}

.homeNavbar > * {
  cursor: pointer;
  color: white !important;
  text-decoration: none;
}

.linkStyle {
  color: var(--white);
}

.home {
  background-color: var(--purple);
  color: var(--white);
  height: 100vh;
  width: 100vw;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.homeContainer > h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.moveNextIcon {
  display: inline-block;
  font-size: 40px;
  margin-top: 70px;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.photos {
  padding: 20px;
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: 180px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-flow: dense;
  margin: 0 auto 3rem;
}

.imageContainer {
  position: relative;
}

.imageGrid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.favorite,
.cart {
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
}
.favorite {
  color: var(--white);
  top: 5px;
  left: 5px;
}

.ri-heart-fill {
  opacity: 0.7;
}

.cart {
  color: var(--white);
  top: 5px;
  right: 5px;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 700px;
}

.cartItem h2 {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.cartItem img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.cartTitle {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.totalCost {
  font-size: 1.3rem;
  font-weight: 700;
}

.deleteBin {
  font-size: 2rem;
  cursor: pointer;
}

.orderBtn {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--purple);
  outline: none;
  border: none;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 10px;
}

.totalCost,
.orderBtn {
  margin: 5px 0;
  text-align: left;
  margin-left: 40px;
}

.noItems {
  margin-left: 40px;
}

.cartNumbering {
  display: inline-block;
  margin-left: 7px;
  font-size: 1.5rem;
  color: white;
}

.spinner {
  display: flex;
  justify-content: center;
}

/*Media qeuries */

@media screen and (max-width: 700px) {
  .cartItem {
    max-width: 90%;
  }

  .cartItem h2 {
    font-size: 1.1rem;
    margin-top: 8px;
  }

  .totalCost {
    width: 90%;
    margin: 0 auto;
  }

  .orderBtn {
    margin: 0 auto;
  }
}
